.board{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width:80vw;
    max-width:800px;
    border: 3px solid black;
    
    
}
.board-square-b,
.board-square-w{
    aspect-ratio: 1 / 1;
    border:none;
}
.board-square-b:hover,
.board-square-w:hover{
    background-color: rgba(230, 230, 230, 0.568);
}

.board-square-w{
    background-color: white;
}
.board-square-b{
    background-color: rgb(88, 60, 22);
}

.piece{
    max-width: 100%;
}

