.promotion-ui{
    z-index: 1000;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    border: 3px solid black;
    border-radius: 25px;
    
    padding:15px 18px;
    background-color: antiquewhite;
    display: none; /*flex*/
}

.toggle-moves-container{
    margin:5px;
    border-radius: 4px;
    padding:5px 10px;
    background-color:burlywood;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
}
